body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    /* background-image: url("C:/Users/USER/Desktop/html/img/download.jpeg"); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 80%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
    max-width: 1000px;
}

.log, .reg {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.log {
    background-color: white;
    border-color: white;
    text-align: left;
}

.log h1 {
    /* background-color:rgb(62, 62, 219); */
    padding: 3px;
    font-size: 30px;
    color: white;
    text-align: center;
}

.reg {
    background-color:rgb(62, 62, 219);
    border-color: rgb(62, 62, 219);
    text-align: center;
}

.reg h1 {
    background-color: transparent;
    color: white;
    padding-bottom: 20px;
    font-size: 20px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: solid 1px rgb(185, 185, 184);
    background: rgb(255, 255, 255);
}

button {
    /* background-color:  rgb(141, 141, 213); */
    color: white;
    width: 100%;
    border: none;
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
}

.log button {
    /* background-color: rgb(141, 141, 213); */
    border: none;
}


.reg button {
    /* background-color: rgb(141, 141, 213); */
    border: none;
}

p {
    font-size: 12px;
    text-align: center;
}

a {
    color: rgb(62, 62, 219);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 20px;
    color: white;
}
